#home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  margin-top: 70px;
}

#home-page-header {
  margin: 0;
  text-align: center;
  font-family: 'Bodoni Moda';
  font-size: 5vmax;
  padding: 0 1vmax;
  background: linear-gradient(45deg, rgb(13,25,79), rgb(89, 114, 177));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home-page-icons {
  text-align: center;
  font-size: 4vmax;
  margin: 15px 0;
}

#home-page-icons span {
  margin: 0 1vmax;
}

#home-page-description {
  width: 45vmax;
  max-width: 80vw;
  background-color: rgb(245, 245, 245);
  padding: 10px 20px;
  border-radius: 3px;
}

#home-page-description p {
  font-size: 18px;
}

.red {
  color: rgb(206, 29, 29);
}