#item-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

#item-text {
  max-width: 50vw;
  margin: 0 20px;
}

#item-text h1 {
  margin: 0;
}

@media only screen and (max-width: 650px) {
  #item-page-container {
    flex-direction: column;
  }

  #item-text {
    max-width: 80vw;
  }
}

#item-price {
  margin: 8px 0;
  font-size: 20px;
  font-weight: bold;
  color: rgb(89, 129, 202);
}

#item-quantity-label {
  color: gray;
  font-size: 16px;
  padding-right: 15px;
  border-right: solid 1px rgb(187, 187, 187);
}

#item-quantity-input {
  color: rgb(102, 102, 102);
  font-size: 20px;
  width: 4ch;
  font-family: inherit;
  padding: 4px 10px;
  padding-left: 10px;
  margin: 0 15px;
  border: solid 1px rgb(185, 185, 185);
  border-radius: 3px;
}

#add-to-cart-button {
  background-color: rgb(89, 129, 202);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-family: inherit;
  cursor: pointer;
  margin: 5px 0;
}

#added-to-cart-message {
  margin-left: 10px;
  color: rgb(89, 129, 202);
  animation: fade-out 2s cubic-bezier(.99,.02,.87,.6);
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}